html {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

body,
#__nuxt,
#__layout {
    flex-grow: 1;
    display: flex;
}

body {
    font-family: $font-family;
    font-weight: $font-weight;
    font-size: $font-size--14;
    background: $color--white;
    color: $color--black;
    transition:
        color 0.5s,
        background-color 0.5s;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.page-enter-active,
.page-leave-active {
    transition: opacity 0.5s;
}

.page-enter,
.page-leave-to {
    opacity: 0;
}