// Font
$font-family: 'Work Sans', sans-serif;
$font-weight: 400;
$font-weight--medium: 500;
$font-weight--bold: 600;
$font-size--16: 16px;
$font-size--14: 14px;
$font-size--40: 40px;
$font-size--21: 40px;

// Colors
$color--white: #FFFFFF;
$color--black: #1D1C39;
$color--black-alt: #0B0E1F;
$color--pink: #FF22B1;
$color--blue: #4461D7;
$color--gray-dark: #494E6A;
$color--gray-light: #EAEEF4;
$color--arrow: #494E6A;

// Screen Sizes
$screen-xs: 564px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1024px;
$screen-xl: 1200px;